#left{
    background-color: #eee;
}

nav{
    display: flex;
    flex-direction: column;
    margin: 1em;
}

nav a{
    margin: 0.3em 0;
    text-decoration: none;
}

nav a:visited, nav a:active{
    color: inherit;
}

nav a span{
    transition: margin-left 0.3s;
    display: inline-block;
}

nav a:hover:not(.boldnav) span:nth-child(2){
    margin-left: 1em;
}

.boldnav{
    margin-left: 1em;
    font-weight: 700;
}